{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% csrf_token %}
<div class='col'>
    <div class='row justify-content-center p-2'>
      <div class="card">
        <h2 class="card-header">
          Scuola di vela
        </h2>
        <div class='card-body'>
            <div class='row justify-content-center p-2'>
                <a href="{% url 'sv_index' %}" class="btn btn-primary">Entra</a>
            </div>
        </div>
      </div>
    </div>
    {% if not istruttore %}
    <div class='row justify-content-center p-2'>
      <div class="card">
        <h2 class="card-header">
          Barche
        </h2>
        <div class='card-body'>
            <div class='row justify-content-center p-2'>
                <a href="{% url 'b_index' %}" class="btn btn-primary">Entra</a>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class='row justify-content-center p-2'>
      <div class="card">
        <h2 class="card-header">
          Tickets
        </h2>
        <div class='card-body'>
            <div class='row justify-content-center p-2'>
                <a href="{% url 'ticket_list' %}" class="btn btn-primary">Entra</a>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}