{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% csrf_token %}
<h3>Scuola di vela</h3>
<button class="btn btn-primary"><a href="{% url 'sv_index' %}" class="btn btn-primary">Entra</a></button>
{% if not istruttore %}
<h3>Barche</h3>
<button class="btn btn-primary"><a href="{% url 'b_index' %}" class="btn btn-primary">Entra</a></button>
{% endif %}
<h3>Tickets</h3>
<button class="btn btn-primary"><a href="{% url 'ticket_list' %}" class="btn btn-primary">Entra</a></button>
{% endblock %}