{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
  <h1>Barche</h1>
  <div class='col'>
    <div class='row justify-content-center p-4'>
      <div class='card'>
        <h6 class ='card-header'>
          Aggiungi uscita:
        </h6>
        <div class='card-body'>
          <div class='row align-items-center justify-content-center'>
            <div class ='p-3'>
              <a href="{% url 'b_uscita_new' 'mare' %}" class="btn btn-info">Mare</a>
            </div>
            <div class ='p-3'>
              <a href="{% url 'b_uscita_new' 'terra' %}" class="btn btn-success">Terra</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row justify-content-center p-4'>
      <div class="card">
        <h4 class="card-header">
          Uscite mare di oggi
        </h4>
        <div class='card-body'>
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Barca</th>
                <th class="text-center">Persona</th>
                <th class="text-center">Data</th>
                <th class="text-center">Rientrato</th>
                <th class="text-center">Non socio non accompagnato</th>
                <th class="text-center">Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for u in uscite_m %}
                <tr>
                  <td class="text-center">{{ u.barca }}</td>
                  <td class="text-center">{{ u.persona }}</td>
                  <td class="text-center">{{ u.data }}</td>
                  {% if u.rientrato %}
                  <td class="text-center"><i class="fa-solid fa-check" style="color: #00FF00;"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></td>
                  {% endif %}
                  {% if u.non_socio %}
                  <td class="text-center"><i class="fa-solid fa-check" style="color: #00FF00;"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></td>
                  {% endif %}
                  {% if u.note %}
                  <td>{{ u.note }} </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>
                    <a href="{% url 'b_uscita_edit' u.pk %}" class="btn btn-primary p-1">Modifica</a>
                    <a href="{% url 'b_uscita_delete' u.pk %}" class="btn btn-danger p-1">Elimina</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7">Nessuna uscita trovata.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class='row justify-content-center p-4'>
      <div class="card">
        <h4 class="card-header">
          Uscite terra di oggi
        </h4>
        <div class='card-body'>
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Barca</th>
                <th class="text-center">Persona</th>
                <th class="text-center">Data</th>
                <th class="text-center">Rientrato</th>
                <th class="text-center">Non socio non accompagnato</th>
                <th class="text-center">Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for u in uscite_t %}
                <tr>
                  <td class="text-center">{{ u.barca }}</td>
                  <td class="text-center">{{ u.persona }}</td>
                  <td class="text-center">{{ u.data }}</td>
                  {% if u.rientrato %}
                  <td class="text-center"><i class="fa-solid fa-check" style="color: #00FF00;"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></td>
                  {% endif %}
                  {% if u.non_socio %}
                  <td class="text-center"><i class="fa-solid fa-check" style="color: #00FF00;"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></td>
                  {% endif %}
                  {% if u.note %}
                  <td>{{ u.note }} </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>
                    <a href="{% url 'b_uscita_edit' u.pk %}" class="btn btn-primary p-1">Modifica</a>
                    <a href="{% url 'b_uscita_delete' u.pk %}" class="btn btn-danger p-1">Elimina</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7">Nessuna uscita trovata.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class='row justify-content-center p-4'>
      <div class="card">
        <h4 class="card-header">
          Archivio Uscite
        </h4>
        <div class='card-body'>
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Barca</th>
                <th class="text-center">Persona</th>
                <th class="text-center">Data</th>
                <th class="text-center">Terra/Mare</th>
                <th class="text-center">Rientrato</th>
                <th class="text-center">Non socio non accompagnato</th>
                <th class="text-center">Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for u in uscite_a %}
                <tr>
                  <td class="text-center">{{ u.barca }}</td>
                  <td class="text-center">{{ u.persona }}</td>
                  <td class="text-center">{{ u.data }}</td>
                  <td class="text-center">{{ u.tm }}</td>
                  {% if u.rientrato %}
                  <td class="text-center"><i class="fa-solid fa-check" style="color: #00FF00;"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></td>
                  {% endif %}
                  {% if u.non_socio %}
                  <td class="text-center"><i class="fa-solid fa-check" style="color: #00FF00;"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa-solid fa-xmark" style="color: #FF0000;"></i></td>
                  {% endif %}
                  {% if u.note %}
                  <td>{{ u.note }} </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>
                    <a href="{% url 'b_uscita_edit' u.pk %}" class="btn btn-primary p-1">Modifica</a>
                    <a href="{% url 'b_uscita_delete' u.pk %}" class="btn btn-danger p-1">Elimina</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7">Nessuna uscita trovata.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}