{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
  <h2>Elimina Uscita</h2>
  <p>Sei sicuro di voler eliminare questa uscita?</p>
  <table class="table">
    <thead>
      <tr>
        <tr>
          <th>Barca</th>
          <th>Persona</th>
          <th>Data</th>
          <th>Rientrato</th>
          <th>Non socio non accompagnato</th>
          <th>Note</th>
        </tr>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="text-center">{{ u.barca }}</td>
          <td class="text-center">{{ u.persona }}</td>
          <td class="text-center">{{ u.data }}</td>
          {% if u.rientrato %}
          <td class="text-center"><i class="fa-solid fa-check" style="color: #000000;"></i></td>
          {% else %}
          <td class="text-center"><i class="fa-solid fa-xmark" style="color: #000000;"></i></td>
          {% endif %}
          {% if u.non_socio %}
          <td class="text-center"><i class="fa-solid fa-check" style="color: #000000;"></i></td>
          {% else %}
          <td class="text-center"><i class="fa-solid fa-xmark" style="color: #000000;"></i></td>
          {% endif %}
          {% if u.note %}
          <td>{{ u.note }} </td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
    </tbody>
  </table>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Elimina</button>
    <a href="{% url 'b_index' %}" class="btn btn-secondary">Annulla</a>
  </form>
{% endblock %}