{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
  <h2>Elimina Uscita</h2>
  <p>Sei sicuro di voler eliminare questa uscita?</p>
  <table class="table">
    <thead>
      <tr>
        <th>Istruttore</th>
        <th>Gommone</th>
        <th>Data</th>
        <th>Uscita</th>
        <th>Entrata</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ uscita.istruttore }}</td>
          <td>{{ uscita.gommone }}</td>
          <td>{{ uscita.data }}</td>
          <td>{{ uscita.orario_uscita }}</td>
          <td>{{ uscita.orario_entrata }}</td>
        </tr>
    </tbody>
  </table>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Elimina</button>
    <a href="{% url 'sv_index' %}" class="btn btn-secondary">Annulla</a>
  </form>
{% endblock %}